@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

body { font-family: Consolas, monospace; }

.typed {
    position: absolute;
    float: left;
    font-size:250%;
    color: white;
    left: 42%;
    top: 40%;
    // -webkit-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    font-weight: bolder;
}

.welcome {
  position: absolute;
  float: left;
  font-size:800%;
  color: white;
  left: 38%;
  top: 40%;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  font-weight: bolder;
  opacity: 0;
}

.typed-span {
    position:absolute;
    top:0;
    right:0;
    width:0;
    background: black; /* same as background */

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-animation: typing 2s steps(15, end); /* # of steps = # of characters */
                        // blink-caret 1s step-end infinite;
    -moz-animation: typing 2s steps(15, end); /* # of steps = # of characters */
                        // blink-caret 1s step-end infinite;
}
